.PlansScreen > h4 {
  margin-bottom: 20px;
  margin-top: 3%;
  font-size: 1rem;
  font-weight: 400;
}

.plansScreen__plans {
  display: flex;
  flex-direction: column;
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.plans > h3 {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.7;
}

.plans > h3 > h4 {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.7;
}

.plans > h3:hover {
  opacity: 1;
}

.plans > h3 > h4:hover {
  opacity: 1;
}

.plansScreen__button {
  padding: 10px 20px;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

.plansScreen__button1 {
  padding: 10px 20px;
  color: #fff;
  background-color: gray;
  border: none;
  cursor: pointer;
}
